/*----------COMMUN----------*/
body {
    background: no-repeat url(./img/fond_ciel_mer.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    overflow-y: hidden;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(164, 164, 164, 0.7);
    padding: 20% 25% 20% 25%;
    border-radius: 30px;
}
form input[type="text"], input[type="password"] {
    margin: 5%;
    border-radius: 5px;
    border: none;
    width: 15em;
    height: 25px;
}
form input[type="submit"] {
    margin: 5%;
    font-size: large;
    border-radius: 5px;
    padding: 15px;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    
}
form input[type="submit"]:hover {
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}
form.retour {
    padding: 0;
    position: absolute;
    bottom: 7vh;
    right: 7vw;
    background: none;
}
form.retour input{
    font-size: x-large;
    padding: 15px;
    border-radius: 15px;
    border: none;
}
h1 {
    text-align: center;
    font-size: 7em;
    margin: 1% 0% 1% 0%;
}
h2 {
    text-align: center;
    font-size: 3em;
    margin: 5px;
}

.draggable{
    cursor: move;
}
.draggable.dragging{
    opacity: 0.5;
}

/*----------CONEXION----------*/
.connexion{
    height: 100vh;
    display: grid;
    grid-template : 1fr 3fr  / repeat(2, 1fr);
    justify-items: center;
    align-items: flex-start;
}
.connexion form{
    margin: 5% 10% 5% 10%;
    padding: 5% 10% 5% 10%;
}
.connexion .logo{
    grid-area: 1 / 1 / 2 / 3;
    width: 50vw;
}

/*----------INSCRIPTION----------*/
.inscription {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.erreur{
    color:red;
    font-size: x-large;
}

/*----------A propos----------*/
.main_apropos{
    display: flex;
    flex-direction: row;
    height: 65vh;
    
}
.section_apropos {
    background-color: rgba(164, 164, 164, 0.7);
    margin: 2%;
    padding: 2%;
    border: solid 3px black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
  
}
.section_apropos p {
    font-size: large;
}

/*----------Options----------*/
.option{
    display: flex;
    flex-direction: row;
    font-size: x-large;
    margin: 1%;
}
.form_option{
    margin: 5em 10em 5em 10em;
    padding: 2em;
}

/*----------Accueil----------*/
.bienvenue{
    font-size: xx-large;
    color:rgb(196, 85, 0);
}
.acceuil{
    display:grid;
    grid-template: 2fr 1em 1fr 1fr / 1fr 1fr 1fr ; /* on crée des 4 lignes ( 1 ligne 2 fois plus grandes que les autres) et apres 3 colonnes égales*/
    justify-items: center;
    align-items: center;
}
.acceuil .logo{
    grid-column: span 3; /* le logo s'étend sur les 3 colonnes qu'on a créer juste avant */
    width: 50%;
    margin: 3%;
}
.acceuil form {
    padding: 2% 20% 2% 20%;
    margin: 2%;
}
.acceuil_a_propos {
    grid-area: 3 / 1 / 5 / 2;
}
.acceuil_option {
    grid-area: 3 / 3 / 5 / 4;
}
.bienvenue{
    grid-area:  2 / 1 / 3 / 4;
}

/*----------Jouer en ligne----------*/
.jouer_en_ligne {
    display: grid;
    grid-template: 15vh 64vh / 50vw 50vw;
}
.jouer_en_ligne h1 {
    font-size: 4em;
    grid-area: 1 / 1 / 2 / 3;
}
.jouer_en_ligne form {
    background: none;
    margin: 0;
    padding: 0;
}
.jouer_en_ligne section {
    background-color: rgba(164, 164, 164, 0.7);
    margin: 10%;
    padding: 2%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jouer_en_ligne p {
    font-size: xx-large;
}
.jouer_en_ligne input[type="text"] {
    width: 15em;
    height: 2em;
    margin: 5%;
    border-radius: 5px;
}

/*---------Classement----------*/

.classement{
    display: grid;
}
.classement h1 {
    font-size: 4em;
    grid-area: 1 / 1 / 2 / 3;
}
table {
    margin:auto;
    border-collapse: collapse; /* Fusionne les bordures adjacentes pour un rendu plus propre */
    width: 50%; /* Optionnel, adapte la largeur du tableau */
}
th, td {
    border: 4px solid rgb(5, 5, 5); /* Applique une bordure noire d'une épaisseur de 1px */
    padding: 8px; /* Ajoute un peu d'espace à l'intérieur des cellules */
    text-align: center; /* Aligne le texte à gauche */
    margin:55%;
 
}
.taille_classement{
    font-size: xxx-large;
    margin: 2%;
    text-align: center;

}
.mini_titre{
    background-color: rgb(119, 201, 201);
}
.premier{
    background-color: rgb(216, 216, 88);
}
.deuxieme{
    background-color: gray;
}
.troisieme{
    background-color: red;
}
tr{
    background-color: white;
}

/*--------Gagner--------*/
.gagner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gagner img{
    width: 80%;
    padding: 0% 0% 5% 0%;
    filter: blur(2px);
}
/*------Perdu------*/
.perdu{
    background-color: rgba(249, 2, 2, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.perdu img{
    width: 80%;
    padding: 0% 0% 5% 0%;
    filter: blur(2px);
}
/*----------Attente du joueur---------*/
.attente_du_joueur{
    background: rgba(164, 164, 164, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 10% 5% 10%;
    padding: 2%;
    border-radius: 50px;
}
.attente_du_joueur p{
    font-size: 2em;
}
.code_de_partie{
    font-size: 3em;
    color: rgb(52, 52, 52);
}

/*----------Rejouer---------*/
.oui, .non {
    margin: 10px;
    padding: 15px 30px;
    background-color: #87CEEB; 
    border: 2px solid #000;
    border-radius: 50px; 
    cursor: pointer;
    display: inline-block;
}
/*----------Grilles (placez les bateaux et phase de combat)----------*/
h1 {
font-size: 50px;
}

h2 {
    font-size: 30px;
    display:block;
    text-align: center;
    width: 100%;
}

.subtitle {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
}

.box1{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}

.box2{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
}

.cell_container {
    display: grid;
    grid-template-columns: 20px repeat(10, 40px); 
    grid-template-rows: 20px repeat(10, 40px);   
    gap: 0;
    margin: 0px auto;
    
}
.header {
    background-color: transparent;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side {
    background-color: transparent;
    font-weight: bold;
    border : 5px black;
    justify-content: center;
    align-items: center;
}
.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
   /* background-color: #f0d9b5;*/
    cursor: pointer;
    transition: 0.1s;
}
.cell:hover {
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/*  J'enleve les points dans les cell parce que ça fait un bug avec le drag & drop
.cell::before {
    content: "•"; 
    font-size: 16px;
    color: #000;
}
*/

/*----------phase de combat---------*/

.rules {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #c0bdbd;
    padding: 15px;
    border-radius: 15px; 
    max-width: 500px;
    font-size: 16px;
    text-align: left;
    color: black; 
}
.missiles_container{
    
    position:absolute;
    display: flex;
    flex-direction: row;
    bottom : 15px;
    right : 15px
    
}

.cellm{
    width: 100px;
    height: 100px;
    background-color: #ffffff; 
    border: 1px solid #333;
}

/*----------phase de placement---------*/

.rules2 {
    position: absolute;
    top: 10em;
    right: 2em;
    background-color: #c0bdbd;
    padding: 15px;
    border-radius: 15px; 
    max-width: 25vw;
    font-size: 20px;
    text-align: left;
    color: black; 
}
.bateaux {
    position: absolute;
    top: 60px;
    left: 20px;
    margin: 15px;
    height: 50vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.bateaux .draggable{
    height: 40px;
    display: flex;
    justify-content: space-between;
}
#bateau_2_cases{width: 80px;}
#bateau_3_cases{width: 120px;}
#bateau_3_cases_bis{width: 120px;}
#bateau_4_cases{width: 160px;}
#bateau_5_cases{width: 200px;}
#bateau_2_cases .case{background-color: yellow;}
#bateau_3_cases .case{background-color: blue;}
#bateau_3_cases_bis .case{background-color: aquamarine;}
#bateau_4_cases .case{background-color: green;}
#bateau_5_cases .case{background-color: red;}
.case{
    border: solid 1px black;
    border-radius: 5px;
    width: 40px;
}

/* Style pour la cellule avec l'état "eau" */
.cell[data-etat="eau"] {
    background-color: blue;
    color: white; /* Texte en blanc pour contraste */
}

/* Style pour la cellule avec l'état "bateau" */
.cell[data-etat="bateau"] {
    background-color: white;
    color: black;
}

