/*----------COMMUN----------*/
body {
    background: no-repeat url(fond_ciel_mer.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    overflow-y: hidden;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(164, 164, 164, 0.7);
    padding: 5% 10% 5% 10%;
    border-radius: 30px;
}

form input[type="text"], input[type="password"] {
    margin: 5%;
    border-radius: 5px;
    border: none;
    width: 15em;
    height: 25px;
}

form input[type="submit"] {
    margin: 5%;
    font-size: large;
    border-radius: 5px;
    padding: 15px;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    
}
form input[type="submit"]:hover {
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

form.retour {
    padding: 0;
    position: absolute;
    bottom: 7vh;
    right: 7vw;
    background: none;
}

form.retour input{
    font-size: x-large;
    padding: 15px;
    border-radius: 15px;
    border: none;
}

h1 {
    text-align: center;
    font-size: 7em;
    margin: 1% 0% 1% 0%;
}

h2 {
    text-align: center;
    font-size: 4rem;
    margin: 5px;
}




/*----------CONEXION----------*/
.connexion{
    height: 100vh;
    display: grid;
    grid-template : 1fr 2fr / repeat(2, 1fr);
    justify-items: center;
    align-items: flex-start;
}
.connexion .logo{
    grid-column: span 2;
}

/*----------INSCRIPTION----------*/
.inscription {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.erreur{
    color:red;
    font-size: x-large;
}

/*----------A propos----------*/
.main_apropos{
    display: flex;
    flex-direction: row;
    height: 65vh;
    
}

.section_apropos {
    background-color: rgba(164, 164, 164, 0.7);
    margin: 2%;
    padding: 2%;
    border: solid 3px black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
  
}

.section_apropos p {
    font-size: large;
}

/*----------Options----------*/
.option{
    display: flex;
    flex-direction: row;
    font-size: x-large;
    margin: 1%;
}
.form_option{
    margin: 5em 10em 5em 10em;
}

/*----------Accueil----------*/
.bienvenue{
    font-size: xx-large;
    color:rgb(196, 85, 0);
}
.acceuil{
    display:grid;
    grid-template: 2fr 1em 1fr 1fr / 1fr 1fr 1fr ; /* on crée des 4 lignes ( 1 ligne 2 fois plus grandes que les autres) et apres 3 colonnes égales*/
    justify-items: center;
    align-items: center;
}
.acceuil .logo{
    grid-column: span 3; /* le logo s'étend sur les 3 colonnes qu'on a créer juste avant */
    width: 50%;
    margin: 3%;
}
.acceuil form {
    padding: 2% 20% 2% 20%;
    margin: 2%;
}

.acceuil_a_propos {
    grid-area: 3 / 1 / 5 / 2;
}

.acceuil_option {
    grid-area: 3 / 3 / 5 / 4;
}
.bienvenue{
    grid-area:  2 / 1 / 3 / 4;
}

/*----------Jouer en ligne----------*/
.jouer_en_ligne {
    display: grid;
    grid-template: 15vh 64vh / 50vw 50vw;
}
.jouer_en_ligne h1 {
    font-size: 4em;
    grid-area: 1 / 1 / 2 / 3;
}
.jouer_en_ligne form {
    background: none;
    margin: 0;
    padding: 0;
}
.jouer_en_ligne section {
    background-color: rgba(164, 164, 164, 0.7);
    margin: 10%;
    padding: 2%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jouer_en_ligne p {
    font-size: xx-large;
}

.jouer_en_ligne input[type="text"] {
    width: 15em;
    height: 2em;
    margin: 5%;
    border-radius: 5px;
}

/*---------Classement----------*/

.classement{
    display: grid;
}
.classement h1 {
    font-size: 4em;
    grid-area: 1 / 1 / 2 / 3;
}

/*--------Gagner--------*/
.gagner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gagner img{
    width: 80%;
    padding: 0% 0% 5% 0%;
    filter: blur(2px);
}
/*------Perdu------*/
.perdu{
    background-color: rgba(249, 2, 2, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.perdu img{
    width: 80%;
    padding: 0% 0% 5% 0%;
    filter: blur(2px);
}
/*----------Attente du joueur---------*/
.attente_du_joueur{
    background: rgba(164, 164, 164, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 10% 5% 10%;
    padding: 2%;
    border-radius: 50px;
}
.attente_du_joueur p{
    font-size: 2em;
}
.code_de_partie{
    font-size: 3em;
    color: rgb(52, 52, 52);
}
/*----------Classement---------*/

table {
    margin:auto;
    border-collapse: collapse; /* Fusionne les bordures adjacentes pour un rendu plus propre */
    width: 50%; /* Optionnel, adapte la largeur du tableau */
}
 th, td {
    border: 4px solid rgb(5, 5, 5); /* Applique une bordure noire d'une épaisseur de 1px */
    padding: 8px; /* Ajoute un peu d'espace à l'intérieur des cellules */
    text-align: center; /* Aligne le texte à gauche */
    margin:55%;
 
}
.taille_classement{
    font-size: xxx-large;
    margin: 2%;
    text-align: center;

}
.mini_titre{
    background-color: rgb(119, 201, 201);
}
.premier{
    background-color: rgb(216, 216, 88);
}
.deuxieme{
    background-color: gray;
}
.troisieme{
    background-color: red;
}


tr{
    background-color: white;
}