/*----------COMMUN----------*/
body {
    background: no-repeat url(image/fond_ciel_mer.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(164, 164, 164, 0.7);
    padding: 5% 10% 5% 10%;
    border-radius: 30px;
}

form input[type="text"] {
    margin: 5%;
    border-radius: 5px;
    border: none;
    width: 15em;
    height: 25px;
}

form input[type="submit"] {
    margin: 5%;
    font-size: large;
    border-radius: 5px;
    padding: 15px;
    border: none;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

form.retour {
    padding: 0;
    position: absolute;
    bottom: 7vh;
    right: 7vw;
    background: none;
}

form.retour input{
    font-size: xx-large;
    padding: 15px;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    font-size: 7em;
    margin: 1% 0% 1% 0%;
}

h2 {
    text-align: center;
    font-size: 4rem;
    margin: 5px;
}




/*----------CONEXION----------*/
.connexion{
    height: 100vh;
    display: grid;
    grid-template : 1fr 2fr / repeat(2, 1fr);
    justify-items: center;
    align-items: flex-start;
}
.connexion .logo{
    grid-column: span 2;
}

/*----------INSCRIPTION----------*/
.inscription {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*----------A propos----------*/
.main_apropos{
    display: flex;
    flex-direction: row;
    height:70vh;
}

.section_apropos {
    background-color: rgba(164, 164, 164, 0.7);
    margin: 5%;
    padding: 2%;
    border: solid 3px black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

.section_apropos p {
    font-size: x-large;
}


/*----------Accueil----------*/
.acceuil{
    display:grid;
    grid-template: 2fr 1fr 1fr / 1fr 1fr 1fr ; /* on crée des 3 lignes ( 1 ligne 2 fois plus grandes que les autres) et apres 3 colonnes égales*/
}
.acceuil .logo{
    grid-column: span 3; /*le logo s'étend sur les 3 colonnes qu'on a créer juste avant */
    justify-self: center;
}

.acceuil_a_propos {
    grid-area: 2 / 1 / 4 / 2;
    align-self: center;
}

.acceuil_option {
    grid-area: 2 / 3 / 4 / 4;
    align-self: center;
}