body {
    background: no-repeat url(image/fond_ciel_mer.png);
    background-size: 100vw 100vh;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 4em;
}

.connexion{
    display: grid;
    grid-template : 1fr 1fr / repeat(2, 1fr);
    justify-content: center;
}

.logo{
    grid-column: span 2;
}